<%= form_with(model: tweet, local: true) do |form| %>
  <%= render 'errors', item: tweet %>

  <div class="mt-4 field">
    <%= form.text_area :body, class: "form-textarea block w-full h-28 transition duration-150 mt-2 ease-in-out sm:leading-5" %>
  </div>

  <div class="flex flex-row actions">
    <%= form.submit "修改", class: "px-4 text-lg py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent font-bold rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:shadow-outline-blue focus:bg-indigo-500 active:bg-indigo-600 transition duration-150 ease-in-out" %>
  </div>
<% end %>
