<p id="notice"><%= notice %></p>


<div class="flex flex-col items-end mt-4">
  <div class="rounded-md shadow-sm w-full">
    <textarea id="about" rows="3" class="form-textarea mt-1 block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" placeholder="you@example.com"></textarea>
  </div>
  <button class="py-2 px-4 mt-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 shadow-sm hover:bg-indigo-500 focus:outline-none focus:shadow-outline-blue focus:bg-indigo-500 active:bg-indigo-600 transition duration-150 ease-in-out">
    发布
  </button>
</div>
<h1 class="text-4xl mt-4">Latest Tweets</h1>
<% @tweets.each do |tweet| %>
  <div>
    <%= tweet.user.nickname %>
  </div>
  <div><%= tweet.body %></div>
<% end %>

