<p id="notice"><%= notice %></p>

<div x-data="indexData()">
  <div class="flex flex-col items-end mt-4">
    <div class="w-full rounded-md shadow-sm">
      <textarea id="about" 
                x-model="new_tweet" 
                rows="3" 
                class="block w-full mt-1 form-textarea transition duration-150 ease-in-out sm:text-sm sm:leading-5" 
                x-on:keydown.cmd.enter="addTweet"
                x-on:keyup="saveTweetLocally"
                placeholder="学到什么了呢？跟大家分享一下" >
      </textarea>
    </div>
    <button
      class="px-4 py-2 mt-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:shadow-outline-blue focus:bg-indigo-500 active:bg-indigo-600 transition duration-150 ease-in-out"
      @click="addTweet">
      发布
    </button>
  </div>
</div>

<h1 class="mt-4 mb-8 text-4xl">最新动态</h1>
<div id="app" class="mt-8">
  <app :tweets="<%= @tweets.to_json(include: :user, methods: [:liked, :like_count]) %>"></app>
</div>
<%= javascript_pack_tag 'tweets/list.js', 'data-turbolinks-track': 'reload' %>

<script>
autosize(document.querySelector('textarea'))

function indexData() {
  return {
    new_tweet: localStorage.getItem("new_tweet_backup"),
    show_login: false,

    addTweet() {
      if (sessionStorage.getItem("loggedIn")) {
        if (this.new_tweet.trim() === '') return

        post('/tweets', {tweet: { body: this.new_tweet }})
          .then(data => location.reload())
      } else {
        this.show_login = true
      }
    },

    saveTweetLocally() {
      localStorage.setItem("new_tweet_backup", this.new_tweet)
    }
  }
}


</script>
