<div id="app" class="mt-8">
  <tweet-index tweets_url="<%= @tweets_url %>"></tweet-index>
</div>

<%= javascript_pack_tag 'tweets/index.js' %>

<div class="w-full my-8 text-center">
  Powered by Rails 6.1
</div>
