<h1 class="mt-8">关于</h1>

<div class="mt-4 leading-8">
<%= markdown """
极客微博(GeekWeibo)是一个开源的技术微博社区，关于更多这个项目的来由，可以参考[这篇文章](https//chriszou.com)
源码：[github](https://github.com/ChrisZou/geekweibo)
欢迎有兴趣的朋友star、fork、PR、issues
有任何问题，建议，反馈，都可以联系我，微信：ZouXiaoChuang (麻烦备注：极客微博)
"""
 %>
</div>
