<% if item.errors.any? %>
  <div id="error_explanation">
    <h2>出错了</h2>

    <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

